services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: blacknode-backend:latest
    restart: unless-stopped
    environment:
      - spring.profiles.active=dev
      - APPLICATION_URL=${APPLICATION_URL}
      - JWT_EXPIRATION_TIME=${JWT_EXPIRATION_TIME}
    expose:
      - "8080"

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: blacknode-frontend:latest
    expose:
      - "80"
    restart: unless-stopped

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    image: blacknode-proxy:latest
    depends_on:
      - backend
    expose:
      - "80"
    restart: unless-stopped

