services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: blacknode-backend:latest
    restart: unless-stopped
    expose:
      - "8080"

  nginx:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    image: blacknode-nginx:latest
    depends_on:
      - backend
    expose:
      - "80"
    restart: unless-stopped

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    image: blacknode-frontend:latest
    ports:
      - "80"
    restart: unless-stopped