services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    image: blacknode-backend:latest
    restart: unless-stopped
    expose:
      - "8080"
    environment:
      - SPRING_PROFILES_ACTIVE=local

  nginx:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    image: blacknode-nginx:latest
    depends_on:
      - backend
    ports:
      - "80:80"
    restart: unless-stopped