:root {
    --color-main: oklab(61.934% -0.01529 -0.14491);
    --color-main-yellow: oklab(84.60499999999999% 0.04291 0.10984);
    --color-second-gray: oklab(58.724% 0.00883 -0.03227);
    --color-main-green: oklab(85.60900000000001% -0.15395 0.01466 / 0.8);
    --color-magenta: oklab(68.063% 0.16519 -0.17622);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
}

body {
    min-height: 100vh;
    line-height: 1.6;
    font-family:
        Inter,
        -apple-system,
        BlinkMacSystemFont,
        'Segoe UI',
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        'Fira Sans',
        'Droid Sans',
        'Helvetica Neue',
        sans-serif;
    font-size: 15px;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#app {
    height: 100vh;
}
