site_name: Blacknode Software - DOCS

theme:
  name: material
  palette:
    - scheme: default
      toggle:
        icon: material/weather-night
        name: Dark mode
    - scheme: slate
      toggle:
        icon: material/weather-sunny
        name: Light mode

nav:
  - Home: index.md
  - Guide: guide.md