name: Build and Push Pre-Release Images

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Pre-release version (e.g. 26.0-rc1)"
        required: true
        type: string

jobs:
  build-and-push-prerelease:
    if: startsWith(github.ref, 'refs/heads/release/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Docker login
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_HUB_LOGIN }}
          password: ${{ secrets.DOCKER_HUB_PAT }}

      - name: Build & push backend (pre-release)
        uses: docker/build-push-action@v5
        with:
          context: backend
          file: backend/Dockerfile
          platforms: linux/amd64,linux/arm64
          build-args: |
            REVISION=${{ inputs.version }}
          push: true
          tags: |
            blacknodesoftware/blacknode-backend:${{ inputs.version }}
            blacknodesoftware/blacknode-backend:pre-release

      - name: Build & push frontend (pre-release)
        uses: docker/build-push-action@v5
        with:
          context: frontend
          file: frontend/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            blacknodesoftware/blacknode-frontend:${{ inputs.version }}
            blacknodesoftware/blacknode-frontend:pre-release

      - name: Build & push proxy (pre-release)
        uses: docker/build-push-action@v5
        with:
          context: proxy
          file: proxy/Dockerfile
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            blacknodesoftware/blacknode-proxy:${{ inputs.version }}
            blacknodesoftware/blacknode-proxy:pre-release
