name: Connect to Netbird
on:
  workflow_dispatch:
    inputs:
      command:
        required: false
        type: string

jobs:
  netbird:
    name: Connect to Netbird
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Netbird Connect
        uses: Alemiz112/netbird-connect@v1
        with:
          setup-key: ${{ secrets.NETBIRD_SETUP_KEY }}
          hostname: 'blacknode-github-actions'
          management-url: 'https://connect.hinsinger.me'

      - name: Show DNS before change
        run: |
          resolvectl status

      - name: Change DNS 
        run: |
          sudo resolvectl dns eth0 172.30.10.3
          sudo resolvectl domain eth0 ~int.hinsinger.me ~int.blacknode.software
          sudo resolvectl flush-caches

      - name: Show DNS after change
        run: |
          resolvectl status

      - name: CLI
        run: ${{ inputs.command }}
